.hero {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: grid;
  place-items: center;
}
.hero article {
  max-width: 768px;
  width: 80%;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  font-family: "Redressed", cursive;
  margin-bottom: 1rem;
}
.hero h2 {
  font-size: 2rem;
  font-family: "Germania One", cursive;
  margin-bottom: 2rem;
}
.hero a {
  color: inherit;
}
.hero p {
  font-family: "Oxygen Mono", monospace;
  margin-bottom: 1rem;
}
.hero small {
  font-size: 1.2rem;
}
